$white: #fff;
$black: #000;
$blue: #20639B;
$red: #B93737;
$green: #164a39;
$transparent-green: #4caf4f8e;
$gray: #756e6e;
$grayLight: #eee;

$defaultFontFamily: 'Helvetica', 'Arial', sans-serif;
$defaultFontSize: 14px;
$defaultBackgroundColor: #A8D5BA;
$defaultTextColor: $black;
$defaultLineHeight: 1.2;
$borderRadiusSmall: 3px;
