HOST_ENV=local
PORT=3000
DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/DATABASE_NAME?schema=public
JWT_SECRET=local-jwt-secret
PASSWORD_SALT=local-password-salt
INITIAL_ADMIN_PASSWORD=123
WEBAPP_URL=http://localhost:8000
DEBUG=pets:*,-pets:prisma:*,-pets:trpc:query:success
# BACKEND_SENTRY_DSN=!!!SECRET!!!
# SOURCE_VERSION=123
# CLOUDINARY_API_KEY=!!!SECRET!!!
# CLOUDINARY_API_SECRET=!!!SECRET!!!
CLOUDINARY_CLOUD_NAME=dcs8xpfpn