.actions {
  margin-left: 10px;
  display: flex;
  gap: 10px;
}

.tableRow {
  td {
    padding-bottom: 10px;
  }
}

.buttonContainer {
  margin-bottom: 15px;
}

.tableHead {
  th {
    padding-bottom: 10px;
  }
}

.tableColumn {
  text-align: center;
  padding-right: 10px;
}
